* {
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 16px;
}

* a:link {
    text-decoration: none;
    color: inherit
}

* a:visited {
    text-decoration: none;
    color: inherit
}

* a:hover {
    text-decoration: none;
    color: inherit
}

* a:active {
    text-decoration: none;
    color: inherit
}

.banner-bg {
    background: transparent url("../img/home_banner.png") no-repeat;
    background-size: cover;
    height: 100vh;
}

.logo-container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: flex-end;
    position: absolute;
    top: 0;
    left: 0;
}

.logo-container>.logo {
    display: flex;
    flex-direction: column;
    margin-right: 0%;
}

.logo-container>.logo>* {
    width: 60%;
}

.section-img {
    max-width: 100%;
    height: auto;
}

.section-container {
    background-color: #eee;
    max-width: 100%;
}

.section-container>.row>.col {
    padding: 50px 50px;
}

.section-context {
    display: flex;
    flex-direction: column;
}

.section-title {
    height: 5%;
    color: #929292;
    font-size: 22px;
}

.section-words {
    height: 70%;
    color: #929292;
}

.section-button {
    display: block;
    border: 1px solid #929292;
    height: auto;
    width: max-content;
}

.section-button>.button-text {
    font-size: 14px;
    color: #929292;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px 35px;
    text-align: center;
}

.nav-logo {
    display: block;
    width: 200px;
    height: auto;
    margin: auto;
    padding: 10px;
}

.nav-border {
    border-top: 5px solid gray;
    border-bottom: 5px solid gray;
    margin-bottom: 30px;
}

.nav {
    text-align: justify;
    vertical-align: middle;
}

.nav:after {
    content: '';
    display: inline-block;
    width: 100%;
}

.nav-item {
    display: inline-block;
    font-family: 'Noto Serif TC', serif;
    font-size: 28px;
    padding: auto;
    color: black;
    margin-top: 15px;
}

.sidebar {
    width: 100%
}

.content-title {
    font-size: 24px;
    border-bottom: 2px solid black;
    padding-bottom: 19.92px;
    font-family: 'Noto Serif TC';
    font-weight: 300;
}

.form {
    display: block;
    width: 500px;
}

.footer {
    height: 50px;
    background-color: rgb(192, 192, 192);
    color: white;
}

.pull-right {
    text-align: right;
}

.bk-gary {
    background-color: gray;
}

.section {
    margin-top: 15px;
    margin-bottom: 30px;
}