* {
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 16px;
}

* a:link {
    text-decoration: none;
    color: inherit
}

* a:visited {
    text-decoration: none;
    color: inherit
}

* a:hover {
    text-decoration: none;
    color: inherit
}

* a:active {
    text-decoration: none;
    color: inherit
}

/* index start */
.container-fluid {
    overflow: hidden;
}

.banner-bg {
    background: transparent url("../img/home_banner.png") no-repeat;
    background-size: cover;
    height: 100vh;
}

.logo-container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: flex-end;
    position: absolute;
    top: 0;
    left: 0;
}

.logo-container>.logo {
    display: flex;
    flex-direction: column;
    margin-right: 0%;
}

.logo-container>.logo>* {
    width: 60%;
}

.logo-container>.logo>img {
    cursor: pointer;
}

.section-img {
    max-width: 100%;
    height: auto;
}

.section-container {
    background-color: #eee;
    max-width: 100%;
}

.section-container>.row>.col {
    padding: 50px 50px;
}

.section-context {
    display: flex;
    flex-direction: column;
}

.section-title {
    height: 5%;
    color: #929292;
    font-size: 22px;
    margin-top: 0;
}

.section-words {
    height: 70%;
    color: #929292;
}

.section-button {
    display: block;
    border: 1px solid #929292;
    height: auto;
    width: max-content;
    cursor: pointer;
}

.section-button>.button-text {
    font-size: 14px;
    color: #929292;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px 35px;
    text-align: center;
}

.index-footer {
    height: 80px;
    background-color: rgb(192, 192, 192);
    color: #fff;
}

.index-footer p {
    cursor: pointer;
}

.index-footer>.col>.row>p {
    padding: 15px 50px;
}

.banner-sm {
    padding: 0;
    margin: 0;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
}

.banner-sm>img {
    width: 100vw;
    height: auto;
}

/* rwd */
.sec-img-mobile {
    display: none;
}
@media only screen and (max-width: 991px) {
    .sec-img-desk {
        display: none;
    }
    .sec-img-mobile {
        display: block;
        padding-bottom: 50px;
        margin-left: 20px;
        margin-right: 20px;
    }
    .section-context p {
        width: 100%;
    }
    .logo > p {
        color: #fff !important;
    }
    .section-img {
        position: relative;
        left: 50%;
        transform: translate(-50%, 0) !important;
    }
}
@media only screen and (max-width: 1155px) {
    .logo-container {
        left: 170px;
    }
}
@media only screen and (max-width: 620px) {
    .logo-container {
        left: 0;
        justify-content: flex-start;
        height: max-content;
        width: max-content;
        top: 30%;
    }
}
@media only screen and (max-width: 695px) {
    .center-on-mobile {
        justify-content: center !important;
    }
    .index-footer>.col>.row>p {
        padding: 15px 20px;
    }
}

/* index end */

.nav-logo {
    display: block;
    width: 200px;
    height: auto;
    margin: auto;
    padding: 10px;
}

.nav-border {
    border-top: 5px solid gray;
    border-bottom: 5px solid gray;
    margin-bottom: 15px;
}

.nav {
    text-align: justify;
}

.nav:after {
    content: '';
    display: inline-block;
    width: 100%;
}

.nav-item {
    display: inline-block;
    font-family: 'Noto Serif TC', serif;
    font-size: 24px;
    padding: auto;
    color: black;
    margin-top: 15px;
}

.sidebar {
    width: 100%;
}

.content-title {
    font-size: 24px;
    border-bottom: 2px solid black;
    padding-bottom: 19.92px;
    font-family: 'Noto Serif TC';
    font-weight: 300;
}

.menu_img {
    width: 100%;
}

.footer {
    height: 80px;
    background-color: rgb(192, 192, 192);
    color: white;
}

.pull-right {
    text-align: right;
}

.bk-gary {
    background-color: gray;
}

.section {
    margin-top: 15px;
    margin-bottom: 30px;
}