<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../css/normalize.css">
    <link rel="stylesheet" href="../../css/uikit.min.css">
    <title>山嵐拉麵</title>
    <link rel="shortcut icon" href="../../img/logo.jpg">
</head>


<form class="uk-form-stacked form">
    <div class="uk-margin">
        <label class="uk-form-label" for="name">姓名</label>
        <div class="uk-form-controls">
            <input class="uk-input" id="name" type="text" placeholder="">
        </div>
    </div>
    <div class="uk-margin">
        <label class="uk-form-label" for="phone">連絡電話</label>
        <div class="uk-form-controls">
            <input class="uk-input" id="phone" type="text" placeholder="">
        </div>
    </div>
    <div class="uk-margin">
        <label class="uk-form-label" for="email">Email</label>
        <div class="uk-form-controls">
            <input class="uk-input" id="email" type="text" placeholder="">
        </div>
    </div>
    <div class="uk-margin">
        <label class="uk-form-label" for="feedback">意見</label>
        <div class="uk-form-controls">
            <textarea class="uk-textarea" id="feedback" rows="5" placeholder=""></textarea>
        </div>
    </div>
    <div class="uk-margin pull-right">
        <button class="uk-button uk-button-default">送出</button>
    </div>
</form>