<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../css/normalize.css">
  <link rel="stylesheet" href="../css/bootstrap-grid.css">
  <link rel="stylesheet" href="../css/style.css">
  <title>山嵐拉麵</title>
  <link rel="shortcut icon" href="../img/logo.jpg">
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC|Noto+Serif+TC:500" rel="stylesheet">
</head>

<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <a href="../index.html">
          <img class="nav-logo" src="../img/logo_on_top.jpg" alt="LOGO">
        </a>
      </div>
    </div>
    <div class="row nav-border">
      <div class="col-2"></div>
      <div class="col-8">
        <div class="nav">
          <a class="nav-item" href="./about.html">關於我們</a>
          <a class="nav-item" href="./branch.html">分店資訊</a>
          <a class="nav-item" href="./products.html">餐點饗宴</a>
          <a class="nav-item" href="./news.html">最新消息</a>
          <a class="nav-item" href="./contact.html">聯絡我們</a>
        </div>
      </div>
      <div class="col-2"></div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-2">
        <img class="sidebar" src="../img/about_sidebar.png" alt="yeee">
      </div>
      <div class="col-10">
        <h2 class="content-title">天然的食材才是成就美味拉麵的關鍵</h2>
        <div class="row">
          <div class="col-6">
            <p class="content-p">
              山嵐拉麵，是店長島村祐行於台灣創立於2016年，目前
              共有三間分店，分別位於台北公館、東區及台中。由於
              自身在日本企業工作的經驗，漸漸了解台灣人時常尋求
              與日本相當的商品品質，因此在離開原有工作後，投入
              拉麵店的創立，希望能夠帶給台灣人優質的拉麵商品。

              我們致力於提供客人美味的餐點，讓每碗到客人餐桌上
              的拉麵都能讓客人有溫暖的感覺，並透過不同的期間限
              定口味，讓客人感覺到滿滿的新鮮感，不管是炎熱的晴
              天或是雨天、與朋友前來或是一個人獨自來吃拉麵的客
              人，都能夠感受到老闆投注在拉麵中的熱情與用心。
            </p>
          </div>
          <div>
            <img class="content-img" src="../img/about_content01.jpg" alt="">
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <img class="content-img" src="../img/about_content02.jpg" alt="">
          </div>
          <div class="col-6">
            <p class="content-p">
              山嵐拉麵的特色是濃郁的豚骨湯頭加入豚骨背脂
              。湯頭的製作主要是使用大量的豚骨搭配日本進
              口壓力鍋熬煮，完成後必須瀝掉豚骨湯上的油脂
              以降低豬的味道及油的膩感，再加入每日店舖新
              鮮現做好的豚骨背脂，讓整個湯頭呈現淡淡的奶
              香味。但這2年的經營經驗上也發現，台灣部份
              消費者還是喜歡清淡的口味，因此我們另外再推
              岀減脂清爽系列與味噌拉麵，希望有機會讓更多
              台灣人認識山嵐拉麵,讓更多台灣人因為我們的拉
              麵而感到幸福。
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="container-fluid">
    <div class="row align-items-center footer">
      <div class="col-6">
        <span style="font-size:12px">Copyright © 山嵐拉麵. All rights reserved</span>
      </div>
      <div class="col-6 pull-right">
        <a href="#">
          <img src="../img/icons8-facebook.svg" alt="fb">
        </a>
        <a href="#">
          <img src="../img/icons8-instagram.svg" alt="ig">
        </a>
      </div>
    </div>
  </div>
</body>