<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../css/normalize.css">
  <link rel="stylesheet" href="../css/bootstrap-grid.css">
  <link rel="stylesheet" href="../css/style.css">
  <title>山嵐拉麵</title>
  <link rel="shortcut icon" href="../img/logo.jpg">
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC|Noto+Serif+TC:500" rel="stylesheet">
</head>

<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <a href="../index.html">
          <img class="nav-logo" src="../img/logo_on_top.jpg" alt="LOGO">
        </a>
      </div>
    </div>
    <div class="row nav-border">
      <div class="col-2"></div>
      <div class="col-8">
        <div class="nav">
          <a class="nav-item" href="./about.html">關於我們</a>
          <a class="nav-item" href="./branch.html">分店資訊</a>
          <a class="nav-item" href="./products.html">餐點饗宴</a>
          <a class="nav-item" href="./news.html">最新消息</a>
          <a class="nav-item" href="./contact.html">聯絡我們</a>
        </div>
      </div>
      <div class="col-2"></div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-2">
        <img class="sidebar" src="../img/branch_sidebar.png" alt="yeee">
      </div>
      <div class="col-10">
        <h2 class="content-title">歡迎朋友們來吃麵!!</h2>
        <div class="row section">
          <div class="col-6">
            <div class="pull-right">
              <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3614.730276663962!2d121.54531631480334!3d25.04322598396797!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442abdadbd21c05%3A0x3d75c87d2f758933!2z5bGx5bWQ5ouJ6bq1IOW_oOWtneW6lw!5e0!3m2!1szh-TW!2stw!4v1555229872862!5m2!1szh-TW!2stw"
                width="350" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
          </div>
          <div class="col-6">
            <h1>忠孝店</h1>
            <p>106台北市大安區大安路一段51巷29號</p>
            <p>02 2779 1221</p>
            <p>每周一公休</p>
            <p>週二-周日 11:30–14:30 17:30–21:00</p>
          </div>
        </div>
        <div class="row section">
          <div class="col-6">
            <div class="pull-right">
              <h1>公館店</h1>
              <p>100台北市中正區羅斯福路四段136巷1弄13號</p>
              <p>02 2369 0122</p>
              <p>全年無休</p>
              <p>11:30–14:30 17:30–21:00</p>
            </div>
          </div>
          <div class="col-6">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3615.6194475583334!2d121.53318541500585!3d25.01304388398219!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442a98ac0dd263d%3A0x9301d02bd81b8595!2z5bGx5bWQ5ouJ6bq1IOWFrOmkqOW6lw!5e0!3m2!1szh-TW!2stw!4v1555230807342!5m2!1szh-TW!2stw"
              width="350" height="250" frameborder="0" style="border:0" allowfullscreen></iframe> </div>
        </div>
        <div class="row section">
          <div class="col-6">
            <div class="pull-right">
              <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3640.5166110419555!2d120.68418271478457!3d24.153608484392205!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x34693d71ac4a12eb%3A0x575e6daff4bd76f0!2z5bGx5bWQ5ouJ6bq1IOWPsOS4reS4gOS4reW6lw!5e0!3m2!1szh-TW!2stw!4v1555230699323!5m2!1szh-TW!2stw"
                width="350" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
          </div>
          <div class="col-6">
            <h1>台中一中店</h1>
            <p>404台中市北區錦新街90巷2號</p>
            <p>04 2225 8853</p>
            <p>每周一公休</p>
            <p>週二-周日 11:30–14:30 17:30–21:00</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row align-items-center footer">
      <div class="col-6">
        <span style="font-size:12px">Copyright © 山嵐拉麵. All rights reserved</span>
      </div>
      <div class="col-6 pull-right">
        <a href="#">
          <img src="../img/icons8-facebook.svg" alt="fb">
        </a>
        <a href="#">
          <img src="../img/icons8-instagram.svg" alt="ig">
        </a>
      </div>
    </div>
  </div>
</body>